<h2 style="margin-top:20px; margin-left: 8px; margin-right: 8px;"><%= lifestyle.name %></h2>
<p><%= lifestyle.price %>$/day</p>
<p style="margin-bottom: 12px;"><%= link_to "Rent now", lifestyle_path(lifestyle) %></p>



