<h1>List of lifestyles:</h1>

<% @lifestyles.each do |lifestyle| %>


  <%= link_to lifestyle.name, lifestyle_path(lifestyle) %> - <%= "$#{lifestyle.price}" %> -
  <% if current_user && policy(lifestyle).destroy? %>
    <%= link_to "Delete", lifestyle_path(lifestyle),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>
  <br>
<% end %>
  <br>


<% if policy(Lifestyle).create? %>
  <%= link_to "Add a new lifestyle", new_lifestyle_path %>
<% end %>
