<div class="boxcards">

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://timedotcom.files.wordpress.com/2019/04/dwayne-johnson-time-100-2019-064-1.jpg?quality=85&zoom=2" alt="Lifestyle picture" style="width:300px;height:350px;">
      </div>
      <div class="flip-card-back">
        <br>
        <h1>"Be Dwayne Johnson"</h1>
        <br>
        <p>Live the life of the energetic<br>
         Action Superstar "The Rock".</p>
        <br>
        <br>
        <p><em>"The best experience ever!"</em></p>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></p>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.pinimg.com/originals/40/90/43/4090432629c5c2504ba1bea47bcb0216.jpg" alt="Lifestyle picture" style="width:300px;height:350px;">
      </div>
      <div class="flip-card-back">
        <br>
        <h1>"Life of a Millionnaire"</h1>
        <br>
        <p>Ever wanted to experience luxury?<br>
      Live it up like a multi-millionnaire.</p>
        <br>
        <br>
        <p><em>"I made it rain money!"</em></p>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
      </div>
    </div>
  </div>

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.ebayimg.com/images/g/roYAAOSwoCtdGmMa/s-l1600.jpg" alt="Lifestyle picture" style="width:300px;height:350px;">
      </div>
      <div class="flip-card-back">
        <br>
        <h1>"Wanna Be a Rockstar"</h1>
        <br>
        <p>Sex, Drugs & Rock'n'Roll baby!<br>
      Be a legend among your groupies.</p>
        <br>
        <p><em>"I don't want to return to my normal life..."</em></p>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
      </div>
    </div>
  </div>

</div>
