<div class="banner d-flex justify-content-center align-items-center" style="background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(/assets/richpplstuff2.jpg) no-repeat center center/ cover">
  <div class="container">
    <div class="text-center">
    <h1><strong>Does Your Life Suck ?</strong>
    </h1>
    <br>
    <p>Rent a new one & be someone else!</p>
    <br>
    <%= link_to "Rent Now", lifestyles_path, class:"btn btn-warning btn-lg center-block shadow" %>
    </div>
  </div>
</div>
