<div class="banner2">
  <br>
  <div class="container">
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-center p-4">
                 <p>"Couldn't be more happier... I was stuck in a rut and now my life is exciting!"</p>
                 <p><em><strong>- Joshua, from Montreal</strong></em></p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>"With RentMyLife, I found new meaning and purpose..."</p>
                <p><em><strong>- Melanie, from Quebec</strong></em></p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>"I'm glad that my friend recommended it. It was great being Dwayne for the weekend!"</p>
                <p><em><strong>- Luc, from Montreal</strong></em></p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>"I'm a loner by nature, so being a Hitman was a perfect fit..."</p>
                <p><em><strong>- John, from London</strong></em></p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>"Living like a millionnaire for a few days was awesome... Bling, Bling, Bling."</p>
                <p><em><strong>- Julie, from Laval</strong></em></p>
            </div>
            <div class="carousel-item text-center p-4">
                <p>"My day-to-day is quite hectic. RentMyLife is my go-to destressor..."</p>
                <p><em><strong>- Bob, from Burbank</strong></em></p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
  <br>
</div>
