<div class="footer">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1 class="logo"><i class="fab fa-resolving"></i></h1><h2 class="logotext">RentMyLife</h2>
    <% end %>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This page is approved by <i class="fas fa-fist-raised"></i> Dwayne Johnson
  </div>
</div>
