.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


}

.card-trip > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding:12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-info-all {
  padding: 16px;
}
.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 70px;
}

.description {
  line-height: 2;
}

.bookcard {
  margin-top: 48px;
  background-color: rgba(255,255,255,0.5);
  padding: 32px;
  margin-bottom:32px;
  border-radius: 8px;
  width: 100%;

  .request {
    display: block;
    margin: 24px auto 0px ;
  }
}

.transparent {

  width: 400px;
  background-color: rgba(255,255,255,0.5);

}

