.footer {
  background: #6654bf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  padding: 8px 16px 8px 16px;
  color: rgba(0,0,0,0.3);
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.footer-links a {
  color: #f2f2f2;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  font-size: 30px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-fist-raised {
  color: #ffcc00;
  font-size: 30px;
}

.footer-copyright {
  color: #f2f2f2;
  position: relative;
}

