.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 400px;
  display: block;
  text-align: center;
  justif-content: center;
  padding-top: 13%;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#price_tag {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 200px;
}
.lifestyle_title {
  font-family: "Lobster";
  font-size: 56px;
  color: rgb(50, 50, 50);
}

p {
  text-align: center;
}

.card-category:hover {
  background-color: rgba(34, 84, 112, 0.5);
  border: 2px solid white;
  cursor: pointer;
}

.cards {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  display: inline;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.lifestyle_title {
  text-align: center;
}

#map {
  width: 896px;
  height: 60px;
}
.box {
  display: flex;
  justify-content: space-around;
}
