.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 360px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s;
  position: relative;
}

.card-category:hover {
  opacity: 0.9;
  transform: scale(1.02);
  cursor: pointer;
}

.price-tag {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 19px;
  color: white;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 245, 200, 0.5);
  padding: 2px 8px;
  border-radius: 4px;
}

.lifestyle_title {
  font-family: "Lobster";
  font-size: 56px;
  color: rgb(50, 50, 50);
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-around;
}

.the-form {
  display: flex;
  justify-content: flex-start;
  margin-left: 36px;
}

.res-count {
  text-align: left;
  margin-left: 36px;
}

a {
  color: #7060C0;
}

a:hover {
  text-decoration:none;
}

.cards {
  margin: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}


// All but XL devices
@media (max-width: 1400px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .the-form {
    justify-content: center;
  }

  .res-count {
    text-align: center;
  }
}

#map {
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  // display: block !important;
  // overflow: auto !important;
  // position: sticky !important;
  // top: 10px !important;
  // overflow: auto !important;
}

