.btn-primary {
  margin: 10px;
}

.btn-info {
  border-radius: 5px;
}

.new-lifestyle {
  padding-top: 20px;
}

.card-trip {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;

}

.lifestyle-pic{
  position: relative;
}
.fa-heart {
  font-size: 50px;
  color: red;
}
