.nav-link {
  color: #f2f2f2;
  margin-left: 15px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #745DC6;
  color: #f2f2f2;
  padding: 8px 16px 8px 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: #f2f2f2;
}

.navbar-lewagon .navbar-brand img {
  width: 48px;
}

.nav-item {
  font-size: 20px;
}

.dropdown-menu {
  z-index: 1021;
}

.logo {
  display: inline;
  padding-right: 10px;
  font-size: 55px;
  color: #D3E8E3;
}

.logotext {
  font-family: 'Lobster';
  color: white;
  letter-spacing: 2px;
  display: inline;
  padding-bottom: 20px;
  font-size: 37px;
}
